<script type="text/html" id="templates/settings/export.html">
  <div class="settings-section settings-section-export">
    <div class="settings-title">Export</div>
    <div class="export-tabs tab-list">
      <div class="export-tab tab-item" data-tab-id="png">PNG</div>
      <div class="export-tab tab-item" data-tab-id="pdf">PDF</div>
      <!--
      <div class="export-tab tab-item" data-tab-id="gif">GIF</div>
      <div class="export-tab tab-item" data-tab-id="zip">Zip</div>
      <div class="export-tab tab-item" data-tab-id="misc">Others</div>
      -->
    </div>
    <div class="export-panel tab-content"></div>
  </div>
</script>