<style type="text/css">
#main-wrapper {
  margin-top: 40px;
}
.fake-piskelapp-header {
  position: relative;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  background: black;
  color: gold;
  z-index: 100;
}
.piskel-name.piskel-name-saving {
  color: red;
}
.new-piskel-desktop {
  position: absolute;
  display: flex;
  top: 7px;
  right: 7px;
  height: 26px;
  width: 26px;
  border-radius: 3px;
  font-size: 22px;
  color: black;
  background: gold;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.button-group {
  float: right;
}
.button-group > .button-primary {
  display: inline;
  margin-right: 5px;
  padding: 5px;
  font-size: 15px;
  border-radius: 3px;
  color: black;
  background: gold;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
</style>
<div class="fake-piskelapp-header">
  <span class="piskel-name"></span>
  <div class="button-group" style="position: relative">
    <a href="index.html" target="_blank" title="Create new sprite" rel="tooltip" class="create-sprite-button button button-primary"
    data-placement="left">
      Create Sprite
    </a>
    <a href="index.html" title="Sign In" rel="tooltip" class="toggle-signin-button button button-primary"
    data-placement="left">
      Sign In
    </a>
    <a href="index.html" title="Sign In" rel="tooltip" class="hidden signout-button button button-primary"
    data-placement="left">
      Logout
    </a>
    <a href="index.html" title="Sign In" rel="tooltip" class="hidden user-button button button-primary"
    data-placement="left">
      username
    </a>
    <div class="signin-popup hidden">
      <div>
        <div class="action-name">login</div>
        <input id="username" placeholder="username" />
        <input id="password" class="" type="password" placeholder="password" />
        <input id="password2" class="hidden" type="password2" placeholder="repeat password"
        />
        <div class="error"></div>
        <div class="panel">
          <span class="other-action">register</span>
          <button class="button action-button">submit</button>
        </div>
      </div>
    </div>
  </div>
</div>