<script type="text/html" id="templates/settings/export/png.html">
  <div class="export-panel-png">
    <div class="export-panel-header export-info">Export your animation as a |TYPE| image﹒</div>
    <div class="export-panel-section  png-export-layout-section">
      <div class="highlight" style="padding-bottom: 5px;">Spritesheet layout options:</div>
      <div style="display: flex; line-height: 20px;">
        <div style="flex: 1;">
          <span>Columns</span>
          <input type="number" min="1" class="textfield" id="png-export-columns" name="png-export-columns">
        </div>
        <div style="flex: 1;">
          <span>Rows</span>
          <input readonly="true" class="textfield" id="png-export-rows" name="png-export-rows">
        </div>
      </div>
    </div>
    <div class="export-panel-section export-panel-row">
      <div class="settings-item export-scale" title="Scale the animation for export"
      rel="tooltip" data-placement="top">
        <label for="scale-input">Scale</label>
        <input type="range" class="scale-input" name="scale-input" min="1" max="128" step="1"
        />
        <span class="scale-text"></span>
      </div>
      <div class="settings-item export-resize hidden">
        <span class="resize-label">Resolution</span>
        <input type="text" class="textfield  resize-field  resize-width" autocomplete="off"
        name="resize-width" />
        <div class="resize-label">x</div>
        <input type="text" class="textfield  resize-field  resize-height" autocomplete="off"
        name="resize-height" />
      </div>
    </div>
    <div class="export-panel-section export-panel-row">
      <div>
        <input type="checkbox" id="png-show-grid">
        <label for="png-show-grid">Include grid in image</label>
        <i class="png-grid-note">Note: You must configure the grid first in the preferences</i>
      </div>
    </div>
    <div class="export-panel-section export-panel-row">
      <div>
        <input type="checkbox" id="png-show-cell-counter">
        <label for="png-show-cell-counter">Show cell counter</label>
      </div>
    </div>
    <div class="export-panel-section export-panel-row">
      <div>
        <input type="checkbox" id="png-hide-image">
        <label for="png-hide-image">Hide image with numbers</label>
      </div>
    </div>
    <div class="export-panel-section export-panel-row">
      <button type="button" class="button button-primary png-download-button">Download</button>
      <span class="png-export-dimension-info export-info hidden"></span>
      <span class="png-export-datauri-info export-info">Download as a PNG file</span>
    </div>
    <div class="export-panel-section export-panel-row png-export-datauri-section hidden">
      <button type="button" style="white-space: nowrap;" class="button button-primary datauri-open-button">To data-uri</button>
      <span class="png-export-datauri-info export-info">Open the PNG export in your browser as a data-uri</span>
    </div>
    <div class="export-panel-section hidden">
      <div style="padding-bottom: 5px">
        <span class="highlight export-panel-row">Export for PixiJS Movie: </span>
      </div>
      <div class="export-panel-row">
        <button type="button" class="button button-primary png-pixi-download-button" />Download</button>
        <span class="png-export-dimension-info export-info">Spritesheet with JSON metadata</span>
      </div>
    </div>
  </div>
</script>